.card1 {
    background-color: rgb(245, 252, 255);
}

.card2 {
    background-color: rgb(245, 252, 255);
}

.card3 {
    background-color: rgb(245, 252, 255);
}

.card4 {
    background-color: rgb(245, 252, 255);
}
.card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}